body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.orange {
    color: orange;
}

.helf-width {
    width: 50%;
    padding-left: 25px;
}

.helf-width img {
    width: 80%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.bg-image {
    background-image: url(photo/top-banner.png);
    background-repeat: no-repeat;
}

.bg-dream {
    background-image: url(photo/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exprience-area {
    background-image: url(photo/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.expari {
    padding-left: 40px;
}

.exprience-card {
    width: 42%;
    border-radius: 5px;
    margin-left: 45px;
    margin-right: 10px;
    padding-left: 25px;
    box-shadow: 10px 10px 40px gray;
}

#full-web-developer {
    border-left: 7px solid;
    border-image: linear-gradient(#d22203, tomato);
    border-image-slice: 1;
}

#baby-web-developer {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}