body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.orange {
    color: orange;
}

.helf-width {
    width: 50%;
    padding-left: 25px;
}

.helf-width img {
    width: 80%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.bg-image {
    background-image: url(photo/top-banner.png);
    background-repeat: no-repeat;
}

.bg-dream {
    background-image: url(photo/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}